@import "tailwindcss";

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #f9fafb url("/img/noise.png") repeat fixed;
}

.tailwind-navbar a,
.tailwind-navbar button {
  text-decoration: none !important;
  color: aliceblue !important;
  border: none !important;
  background: transparent;
}

.tailwind-navbar a:focus,
.tailwind-navbar button:focus {
  outline: none;
  box-shadow: none;
}

.tailwind-footer a,
.tailwind-footer button {
  text-decoration: none !important;
  color: inherit !important;
  border: none !important;
  background: transparent;
}

.tailwind-footer a:hover,
.tailwind-footer button:hover {
  color: #c7d2fe !important;
}

.tailwind-footer a:focus,
.tailwind-footer button:focus {
  outline: none;
  box-shadow: none;
}